<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="choose.css">
    <title>CHOOSE</title>
</head>
<body>
    <nav>
        <h1>HEALIO</h1>
        <p>CONTACT US</p>
    </nav>
    <div class="main">
        <h1>WELCOME TO HEALIO</h1>
        <div class="div">
            <form action="/upload" method="GET">
                <button>UPLOAD DATA</button>
            </form>
            <form action="/fetch" method="GET">
                <button>FETCH DATA</button>
            </form>
        </div>
    </div>
</body>
</html>