<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fetch.css">
    <title>Fetch data</title>
</head>
<body>
    <nav>
        <h1>HEALIO</h1>
        <p>CONTACT US</p>
    </nav>
    <div class="main">
        <h1>ENTER AADHAAR NUMBER</h1>
        <form action="/fetch" method="POST">
            <input type="text" name="aadhaar" placeholder="aadhaar number">
            <input type="text" name="otp" placeholder="enter otp">
            <button>SUBMIT</button>
        </form>
    </div>
</body>
</html>