<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="welcome.css">
    <title>WELCOME PAGE</title>
</head>
<body>
    <div class="hero-content">
        <div class="main">
            <h1>WELCOME TO HEALIO</h1>
            <h3>Healio: Your Online Health Partner</h3>
        </div>
        <div class="buttons">
            <form action="/signup" method="GET">
                <button>SIGN-UP</button>

            </form>
            <form action="/signin" method="GET">
                <button>SIGN-IN</button>

            </form>
        </div>
    
    </div>
</body>
</html>